<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vls_swapper_v3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <vls_swapper_v3.Properties.Settings>
            <setting name="RenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ismode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paksPath" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Content\Paks</value>
            </setting>
            <setting name="ReconEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetskin1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetskin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OgGhoulEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetlobby" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WonderEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackShieldEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetback" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GalaxyDiscEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IkonikFableEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ElfEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloverEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HushEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckRenegadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckeredRenegadeOpsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetpickmesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetemote" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetpick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RaidersEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChaosAgentEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhiteoutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AerialEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HazeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CandyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PickaxeGalaxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MintyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnduringEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnduringRagnarok" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SharkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WolfPackEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScalyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RiftWingsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReconFRKEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReconRTLEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="isSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkullRangerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackKnightEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaypointEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IkonikOnesieEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RazorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreakpointEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaliceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaceBEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPerfectEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetpurpleicon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harlwyquinnenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kickitems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="renegadecid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pinkghoulnokickenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fnscenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SqueakEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StuddedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScytheEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="driverenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offseticons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diamondenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startwandenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="astroworldenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpskinEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="battlebusenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpwonderenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpbritebomber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpgalaxyenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eliteagent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="epicgamebanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlameSigilenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="illudionruinensbled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlossEndEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScenarioOffEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlossSprinklerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlossSwipeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropSwipeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScenarioSwipeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScenarioElfEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmoothElfEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nevergunnaenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="laserblast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slickenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="infectionenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twistedenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="levatewnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="traviscpenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="takethel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetbanner" serializeAs="String">
                <value>1500000</value>
            </setting>
            <setting name="usernameSave" serializeAs="String">
                <value />
            </setting>
            <setting name="passwordSave" serializeAs="String">
                <value />
            </setting>
            <setting name="credentialsSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="premium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deufaltraiders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ikonikcp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blacknightcp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="harleyquincp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sparklecp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainaccp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spickyenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="current_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DreamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutumnQueenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RileyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrystalRoxEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sizebig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlueTeamLeaderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GingerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NogOpsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReconSpeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HonorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SurvivalEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScarletDefenderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedNosedNiteEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GhoulNiteEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoyaleKnightEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EliteNiteEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalaxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShadowOpsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VelocityEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CalistoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SynapseEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SunbirdEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoublecrossEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhiteStyleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BirdieEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BracerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkullyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolleyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoltEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FacetEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PunchyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SparkplugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeachEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RubyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrystalEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RileyAuraEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RustlerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiverEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarshEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedJadeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ponyupenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flapperenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="phoneitenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lamacadrabaenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Daydreamenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pokienabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemiSkinEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aquamanenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IceBreakerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrustyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AxecaliburEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetbodyS3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetbodyS31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="raidersscorcerenabled" serializeAs="String">
                <value>False</value>
            </setting>
        </vls_swapper_v3.Properties.Settings>
    </userSettings>
</configuration>